<div class="bg-dark text-white home">

  <h1 class="mb-4">Bienvenido al test de Angular de ADOCLIC</h1>

  <h2>Desafío</h2>

  <p>Tu misión es crear una aplicación Angular que se asemeje lo más posible a la mostrada en el video adjunto llamado "AngularTest.webm".</p>

  <h2>Instrucciones</h2>

  <h3>Login</h3>

  <ol>
    <li>Crea un formulario de ingreso.</li>
    <li>Debe validar que el formato del correo electrónico sea correcto y que la contraseña tenga al menos 6 caracteres.</li>
    <li>Debes permitir el acceso con el usuario "&lt;user@demo.com&gt;" y la contraseña "123456".</li>
    <li>Al ingresar correctamente, redirige al usuario a la página "Product List".</li>
  </ol>

  <p><strong>Recomendaciones:</strong></p>
  <ul>
    <li>Utiliza Reactive Forms para el formulario de ingreso.</li>
    <li>Crea un servicio y un interceptor para simular una fake API local.</li>
  </ul>

  <h3>Product List</h3>

  <ol>
    <li>Utiliza la siguiente API para obtener la información: <a href="https://fakestoreapi.com/">https://fakestoreapi.com/</a>.</li>
    <li>Verifica que el usuario esté logeado antes de mostrar la lista de productos.</li>
    <li>Muestra el listado de productos en una tabla.</li>
    <li>Permite hacer clic en un producto para abrir un modal con la información detallada del mismo.</li>
    <li>Crea un filtro para categorías y una opción para seleccionar la cantidad de elementos a mostrar.</li>
    <li>Agrega un botón de logout para permitir al usuario cerrar sesión.</li>
  </ol>

  <h3>Pruebas Unitarias</h3>

  <ol>
    <li>Implementa pruebas unitarias para los componentes clave de la aplicación, como el formulario de ingreso, la validación de datos, la autenticación, la obtención de datos de la API, etc.</li>
    <li>Asegúrate de probar diferentes escenarios: casos válidos, casos inválidos, errores, etc.</li>
    <li>Utiliza herramientas como Jasmine, Karma y/o Jest para escribir y ejecutar las pruebas unitarias.</li>
    <li>Incluye documentación sobre cómo ejecutar las pruebas y cómo interpretar los resultados obtenidos.</li>
  </ol>

  <p><strong>Recomendaciones:</strong></p>
  <ul>
    <li>Utiliza la tabla de Angular Material para mostrar la lista de productos.</li>
    <li>Emplea Ng-bootstrap para el modal.</li>
  </ul>

  <p><strong>¡Buena suerte en el desafío! Esperamos ver tu implementación en Angular.</strong></p>


</div>