<div *ngIf="product">
    <div class="modal-header">
      <p>Nombre: {{ product.title }}</p>
      <button
        type="button"
        class="close btn btn-success"
        aria-label="Cerrar"
        (click)="activeModal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex justify-content-center">
        <img [src]="product.image" alt="Imagen del producto" class="img" />
      </div>
      <p class="text-center m-3">{{ product.category }}</p>
      <p>Descripción: {{ product.description }}</p>
      <div class="d-flex justify-content-between">
        <p>Precio</p>
  
        <p>${{ product.price }}</p>
      </div>
    </div>
  </div>
  